* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background:url(./finn-2g3XaIz6lek-unsplash.jpg);
    background-repeat:repeat;
    background-position:top;
    background-size:100%;
    
}
.show{
    color:white;
    font-weight:bold;
    font-size:100px;
}
.btns {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    height:100vh;
}
.increment-btn, .save-btn, .total-btn{
    width:200px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-size:33px;
   margin-top:10px;
   border-radius:10px;
   border:5px solid silver;
   cursor:pointer;
   background-color:rgba(128, 128, 128, 0.735);
   color:rgb(255, 255, 255);
}
.total-btn:hover {
    box-shadow:0 4px 5px rgb(0, 0, 0);
}
.save-btn:hover {
    box-shadow:0 4px 5px rgb(0, 0, 0);
}
.increment-btn:hover {
    box-shadow:0 4px 5px rgb(0, 0, 0);
}
.total-btn:active{
    background-color:rgb(128, 128, 128);
}
.save-btn:active {
    background-color:rgb(128, 128, 128);

}
.increment-btn:active {
    background-color:rgb(128, 128, 128);
}
.entries, .totalis {
    color:white;
    font-size:30px;
    margin-top: 7px;
}
